
</div>

<script src="../../../js/vendor/jquery-3.2.1.min.js"></script>
<script src="../../../js/vendor/bootstrap.min.js"></script>
<script src="../../../js/plugins/toastr/toastr.min.js"></script>
<script src="../../../js/script.js"></script>

</body>
</html>
