<%- include('../partials/navigation.ejs') %>

<p class="__top_text">De file wordt automatisch gegenereerd en als download aangeboden <br/>
   Kijk hieronder wat je zelf nog kunt doen om het geheel nog beter, en in je eigen stijl te maken.</p>

<%- include('../partials/navigation-footer.ejs') %>
