<%- include('../partials/navigation.ejs') %>

<p class="__top_text">Dit is het overzicht met al jouw projecten die je wilt laten zien. <br/>
   Je kunt ze hier bewerken, verwijderen maar natuurlijk ook nieuwe toevoegen.</p>

<h2 class="content-heading">Jouw projecten</h2>

<% if(user.data.projects != false) { %>

<% } else { %>
  <h3>Je hebt nog geen projecten</h3>
<% } %>

<%- include('../partials/navigation-footer.ejs') %>
