<%- include('../partials/navigation.ejs') %>

<p class="__top_text">Op deze pagina kan je een template kiezen voor je project. <br/>
   Op dit moment is er één template, in de toekomst volgen er meer.</p>

<h2 class="content-heading">Templates</h2>

<div class="block col-xs-12 col-sm-6 col-md-5 col-lg-4 __no_padding">
  <img class="img-responsive" src="/images/template_1.jpg" alt="">
  <div class="block-content block-content-full">
    <h3 class="h4 push-10">CMD Basis template</h3>
    <p class="text-gray-dark">Dit is het CMD basis template, je kunt hem eerst even bekijken door op preview te klikken.
    Je kunt na het exporteren natuurlijk altijd nog je eigen stijl toepassen!</p>
    <a class="btn btn-sm btn-black" href="javascript:void(0)">Preview</a>
    <a class="btn btn-sm btn-black pull-right" href="javascript:void(0)">Kies template</a>
  </div>
</div>

<%- include('../partials/navigation-footer.ejs') %>
