<%- include('./partials/navigation.ejs') %>

<h2 class="content-heading">Portfolio Creator</h2>
<p>Dit is de portfolio creator voor studenten van de opleiding CMD Amsterdam. <br/>
  Hieronder vindt je een overzicht met de stappen die je nog moet doorlopen.</p>

<%- include('./partials/navigation-footer.ejs') %>
<%- include('./partials/footer.ejs') %>
